<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="infoChat != null"> Chat with: {{ infoChat.other.email }} </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="infoChat != null">
    <div class="chatContainer" *ngIf="savedMessages != null">
        <div *ngFor="let message of savedMessages">
            <div style="width: 100%;">
                <div class="message" [ngClass]="(infoChat.other.uid == message.sender) ? 'leftMessage' : 'rightMessage'">
                    {{ message.content }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="savedMessages == null" class="chatContainer">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
    <div class="messageSender">
        <input type="text" [(ngModel)]="message" id="messageInput" />
        <input type="button" id="sendButton" [disabled]="message.length==0" (click)="sendMessage()" />
    </div>
</ion-content>