<ion-content>
    <div>
        <img id="logo" src="../../assets/icon/favicon.png" alt="">
        <div>
            <input type="email" [(ngModel)]="email" placeholder="Email">
            <input type="password" [(ngModel)]="password" placeholder="Password">
        </div>
        <input type="button" value="Iniciar sesión" (click)="logIn()">
        <div class="centerLabel" routerLink="/registro">
            <label>¿Are you new? Sign up.</label>
        </div>
        <div class="centerLabel" style="color: brown;">
            <label>{{ errorMessage }}</label>
        </div>
    </div>
</ion-content>