ion-content {
    >div {
        background-color: #15abff;
        height: 100%;
    }
    min-height: 100vh;
    img {
        width: 100%;
    }
    img+div {
        padding-top: 5vh;
        background-color: #15abff;
    }
    input {
        border: 0;
        margin-left: 10%;
        height: 5vh;
        border-radius: 20px;
        margin-bottom: 3vh;
        width: 80%;
        margin-right: 10%;
        text-indent: 5%;
        font-weight: 600;
    }
    .centerLabel {
        display: flex;
        justify-content: center;
        margin-bottom: 2vh;
    }
}